{{!-- Scraped Articles View --}}

<div id="wrapper">
  <div id="articles"></div>
</div>

{{!-- <div class="container-fluid article-container">
  <div data-_id="5c45faadb903650014311b5c" class="card">
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/01/20/us/politics/trump-tower-moscow-cohen-giuliani.html">Talks
          for Moscow Trump Tower Lasted Through 2016 Election, Giuliani SaysU.S. Policy on Russia? Trump and His Team
          Might Give Different AnswersA book from a former White House communications staff member describes a West
          Wing full of back-stabbing and duplicity.</a>
        <a class="btn btn-success save">Save Article</a>
      </h3>
    </div>
    <div class="card-body">Mr. Trump says that he has done more to counter Russian aggression than other recent
      presidents. But, officials say, he has done so reluctantly or under pressure.</div>
  </div>
</div> --}}