
<div id="wrapper">
  <div id="notes"></div>
</div>



{{!-- <div class="container-fluid article-container">
    <div data-_id=5c4605feb903650014311b7e class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/01/21/science/dna-crime-gene-technology.html">Coming Soon to a Police Station Near You: The DNA ‘Magic Box’California’s Criminal Justice Reform Offers Lesson for the Nation</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">Now that President Trump has signed into law a federal reform bill, California’s experience, and the political fallout, is especially instructive.</div>
    </div>
    <div data-_id=5c4605feb903650014311b7c class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/01/20/us/politics/trump-tower-moscow-cohen-giuliani.html">Talks for Moscow Trump Tower Lasted Through 2016 Election, Giuliani SaysU.S. Policy on Russia? Trump and His Team Might Give Different AnswersA book from a former White House communications staff member describes a West Wing full of back-stabbing and duplicity.</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">Mr. Trump says that he has done more to counter Russian aggression than other recent presidents. But, officials say, he has done so reluctantly or under pressure.</div>
    </div>
</div> --}}